* {
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

/* Navbar */
.nav-container {
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.links {
  text-decoration: none;
  color: black;
}

/* Homepage */

.home-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
  padding: 0;
}

.cards {
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin-top: 3rem;
}

.search {
  padding: 0.7rem;
  width: 60%;
}

.coin-card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  width: 12rem;
  border: 1px solid grey;
  margin: 0;
}

.coin-card > img {
  width: 2rem;
  height: 2rem;
}

/* Coin Container Card */
.coin-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
